@import "main.scss";
@import "grid.scss";

html {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
}

a {
  color: $fontColor;
  text-decoration: none;
}

body {
  margin: 0;
}

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
}

.duration {
  position: absolute;
  right: 5px;
  bottom: 10px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}

.image {
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.div__image {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.bottom {
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.title {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: bold;
}

.time {
  margin-top: 3px;
  font-size: 12px;
}
