@import "main.scss";
@import "grid.scss";

html {
  margin-right: $gutter;
  margin-left: $gutter;
  box-sizing: border-box;
}

a {
  color: $fontColor;
  text-decoration: none;
}

body {
  margin: 0;
}

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
}
