@import "main.scss";
@import "grid.scss";

html {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}

a {
  color: $fontColor;
  text-decoration: none;
}

body {
  margin: 0;
}

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
}

.duration {
  position: absolute;
  right: 5px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.image {
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.div__image {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
}

.bottom {
  border-bottom: 1px solid #eee;
  margin: auto;
  margin-bottom: 30px;
}
